.swiper-container {
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 40% !important;
    height: 60% !important;
    margin: 0rem 2rem 0 2rem;
    border-radius: .3rem;
    box-shadow: 0 2rem 3rem 10px rgba(0, 0, 0, 0.233);
    border: 2px solid #fff;
}

.swiper-slide a {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: .3rem;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-slide .titulo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: -.2rem .2rem 3px #000;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.swiper-slide h1 {
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .swiper-slide {
        width: 60% !important;
        height: 45% !important;
    }
    .swiper-slide h1 {
        font-size: 25px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .swiper-slide {
        width: 50% !important;
        height: 50% !important;
    }
}